body {
  background:#eeeeee;
  display: block;
  color:#e65500;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight:lighter;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}


h1 {
  text-align: center;
  font-family:'Raleway', sans-serif;
  font-size: 31px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family:'Raleway', sans-serif;
}

p {
  color: black;
}

.btn-red {
  text-decoration: none;
  background-color: #ed3f34;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.btn-red:hover {
  opacity: 0.7;
  color: white;
}

.img-circle{
  border-radius: 50%;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 20px 0px;
  border-radius: 10px;
  text-align: center;
}
.card-white-title {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 20px -70px;
  border-radius: 10px;
  text-align: center;
}

.card-white li{
  list-style: none;
  display:inline;
  padding: 20px;
  font-size: 30px;
}

.card-white ul{
  padding-left: 0px;
}

.card-white li:hover {
  opacity: 0.7;
  color: white;
}

#follow_me {

}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
